/* start land section */
header {
    padding-bottom: 10rem;
 background-color: transparent;
}


/* end land section */




/* start blogs */

.blogs {
    margin-top: -10rem !important;
}

.blogs h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: start;
    color: var(--mainColor2);
    
    }
    
    .blogs a {
         font-size: 18px;
         font-weight: 600;
         line-height: 44.98px;
         color: var(--navitemColor);
         transition: all 0.5s ;
         -webkit-transition: all 0.5s ;
         -moz-transition: all 0.5s ;
         -ms-transition: all 0.5s ;
         -o-transition: all 0.5s ;
         
    }
    
    
    .blogs a:hover {
        color: var(--mainColor2);
      
    }
    
    .blogs .blog-title h3 {
        font-size: 27px;
        font-weight: 900;
        line-height: 59.97px;
        text-align: right;
        color: var(--blogtitlecolor);
        transition: all 0.5s ;
        -webkit-transition: all 0.5s ;
        -moz-transition: all 0.5s ;
        -ms-transition: all 0.5s ;
        -o-transition: all 0.5s ;
    }
    .blogs .blog-title:hover h3 {
        color: var(--mainColor2);
    }
    
    .blogs p {
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.015em;
    text-align: right;
    color: var(--blogprgcolor);
    
    }
    
    .blogs figure {
        position: relative;
        margin-bottom: 0px;
      }
      .blogs figure::after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(      180deg,      rgba(0, 0, 0, 0) 24%,      rgba(0, 0, 0, 0.5) 100%    );
        border-radius:10px ;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
    }
      .blogs figure::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%
        );
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%
        );
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
      }
      .blogs figure:hover::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
      }
      @-webkit-keyframes shine {
        100% {
          left: 125%;
        }
      }
      @keyframes shine {
        100% {
          left: 125%;
        }
      }
      
      .blogs figure img {
        border-radius:10px ;
          overflow: hidden;
        transition: transform 0.5s 0.2s ease;
        -webkit-transition: transform 0.5s 0.2s ease;
        -moz-transition: transform 0.5s 0.2s ease;
        -ms-transition: transform 0.5s 0.2s ease;
        -o-transition: transform 0.5s 0.2s ease;
      }
    
    .blogs .small-blogs .blog-sub-title h3 {
        font-size: 16px !important;
        font-weight: 800;
        line-height: 29.98px;
        letter-spacing: -0.015em;
        text-align: right;
        color: var(--blogtitlecolor);
        transition: all 0.5s     ;
        -webkit-transition: all 0.5s     ;
        -moz-transition: all 0.5s     ;
        -ms-transition: all 0.5s     ;
        -o-transition: all 0.5s     ;
    }
    
    .blogs .small-blogs .blog-sub-title:hover h3 {
        color: var(--mainColor2);
    }
    
    
    
    @media (min-width : 992px) {
        .blogs .small-blogs figure {
            width: 135px !important;
           height: 135px !important;
       }
    }
    /* end blogs */



    /* start blog-types  */

    .blog-types {
         margin-top: 7rem !important;
    }

    .blog-types h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        text-align: start;
        color: var(--mainColor2);
        
        }
        
        .blog-types .show-all {
             font-size: 18px;
             font-weight: 600;
             line-height: 44.98px;
             color: var(--navitemColor);
             transition: all 0.5s ;
             -webkit-transition: all 0.5s ;
             -moz-transition: all 0.5s ;
             -ms-transition: all 0.5s ;
             -o-transition: all 0.5s ;
             
        }
        
        
        .blog-types .show-all:hover {
            color: var(--mainColor2);
          
        }

        .blog-types .blog-type-img {
            position: relative;
            transition: all 0.6s;
            -webkit-transition: all 0.6s;
            -moz-transition: all 0.6s;
            -ms-transition: all 0.6s;
            -o-transition: all 0.6s;
           
        
        }
        
        .blog-types .blog-type-img img {
            width: 100%;
        }
  
        .blog-types .blog-type-img::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            left: 0;
            background: linear-gradient(180deg, rgba(184, 134, 11, 0) 50.4%, rgba(184, 134, 11, 0.5) 100%);
            z-index: 1;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
           
}

.blog-types .blog-type-img:hover::after {
    background: linear-gradient(180deg, rgba(184, 134, 11, 0.5) 80%, rgba(184, 134, 11, 0) 100%);
}


.blog-types .blog-type-img .blog-type-title {
  position: absolute;
  z-index: 2;
  color: var(--white);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  line-height: 44.98px;
  text-align: center;
  transition: all 0.5s ;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

@media (max-width : 1200px) and (min-width : 992px) {
    .blog-types .blog-type-img .blog-type-title {
        font-size: 20px;
    }
}

.blog-types .blog-type-img:hover  .blog-type-title {
    bottom: 60px;
}
     /* end blog-types  */


     /* start small-boxs */

     .small-boxs {
         background-color: var(--mainColor1);
         margin-top: 6rem !important;
         
     }

     .small-boxs h2 {
         color: var(--mainColor2);
     }

     .small-boxs .small-box {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border: 1px solid var(--mainColor2);
        color: var(--mainColor2);
        font-size: 20px;
        font-weight: 600;
        line-height: 44.98px;
        letter-spacing: -0.015em;
        text-align: center;
        background-color: transparent;
        background: linear-gradient(to right, transparent 50%, var(--mainColor2) 50%) left;
        background-size: 200%;
        transition:  all 0.5s ease-out;
        -webkit-transition:  all 0.5s ease-out;
        -moz-transition:  all 0.5s ease-out;
        -ms-transition:  all 0.5s ease-out;
        -o-transition:  all 0.5s ease-out;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.small-boxs .small-box:hover{
    background-position: right;
    color: var(--white);
}

     /* end small-boxs */