 /* import font from google font */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Dancing+Script:wght@400;500;600;700&display=swap');

/* universal and main style  start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

button,
.btn,
input,
textarea {
  box-shadow: none !important;
}
a {
  text-decoration: none;
}
[type=email]{
  direction: rtl !important;
}

:root {
  --mainColor1 :#F9F5EB; 
  --mainColor2 : #B8860B;
  --mainColor3  : #EAD9B5;
  --navitemColor : #888888;
  --white : #ffff;
  --white1 :rgba(246, 240, 224, 1);
  --blue :rgba(5, 81, 145, 1) ;
  --lightblue : #D9E1ED;
  --black : #000;
  --subheadingblack : #031432;
  --blackwithopctiy : rgba(0, 0, 0, 0.08);
  --highlightblue : #C4E4FF; 
  --prgcolor : rgba(108, 135, 174, 1);
  --blogtitlecolor :  #292D33;
  --blogprgcolor : #9497A1;
  --feat-background :  #FFFCF5;
  --feat-head :  #1D2B4F;
  --feat-prg : #636E88;
  --info-prg : #6F6F6F;







}



.lines2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lines3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.swiper {
  z-index: 0 !important;
}

.rounded-img {
  overflow: hidden;
 
}
.rounded-img img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
/* universal and main style  end */

/* header start */

header {
  background-color: var(--mainColor1);
 overflow-x: hidden;

}
header .navbar-nav {
  gap: 0.5rem;
}

header .navbar-nav .nav-item .nav-link {
  color: var(--navitemColor);
  font-weight: 600; 
  font-size: 16px;
  transition: all  0.5s;
  -webkit-transition: all  0.5s;
  -moz-transition: all  0.5s;
  -ms-transition: all  0.5s;
  -o-transition: all  0.5s;
  padding: 10px 6px;
 
}

header .navbar-nav .nav-item .nav-link:hover{
  color: var(--mainColor2);
  
}

header .navbar-nav .nav-item .nav-link.active {
  border: 1px solid var(--mainColor2);
  color: var(--mainColor2);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

header .nav-left {
 
  position: absolute;
  left: -100px;
  top: 0;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 background-image: url(../images/Rectangle.png);
 background-size: cover;
 
}

header .sticky .nav-left {
  background-image: none !important;
}

@media (max-width : 1300px) {
  header .nav-left {
    left: -210px;
    padding-left: 12rem;
  }

 
}



@media (max-width : 1160px) {
 .navbar-collapse {
   margin-right: -30px;
 }

 header .navbar-nav {
  gap: 0rem;
}

 header .nav-left {
  left: -220px;
  padding-left: 12rem;
  gap: 0.5rem;
}
}
@media (max-width : 1070px) {
  header .navbar-nav .nav-item .nav-link{
    font-size: 15px;
  }
}

header .nav-left .btn-login ,
.with-muser .btn-trynow
 {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--mainColor2);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.32px;
  text-align: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
  min-width: 122px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
  z-index: 0;
  overflow-y: hidden;
}
header .nav-left .btn-login:hover , 
.with-muser .btn-trynow:hover {
  border-color: var(--mainColor3) ;
}

header .nav-left .btn-login::before,
 header .nav-left .btn-login::after ,
 .with-muser .btn-trynow::before ,
 .with-muser .btn-trynow::after {
  position: absolute;
  z-index: -1;
  top: 0;
  display: block;
  height: 100%;
  width: 0;
  background-color:var(--mainColor3);
  content: "";
}
header .nav-left .btn-login::before  ,
.with-muser .btn-trynow::before{
  left: 0;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
header .nav-left .btn-login::after ,
.with-muser .btn-trynow::after {
  right: 0;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
header .nav-left .btn-login:hover::before ,
.with-muser .btn-trynow:hover::before {
  width: 100%;
 
}
header .nav-left .btn-login:hover:after ,
.with-muser .btn-trynow:hover::after {
 
  width: 100%;
}

header .sticky .nav-left .btn-login {
  background-color: var(--mainColor2);
  border: 1px solid var(--mainColor2);
  color: var(--white);
}

header .sticky .nav-left .btn-login:hover {
  background-color: var(--mainColor3);
  border-color: var(--mainColor3) ;
  color: var(--mainColor2);
}

header .nav-left .btn-mainsite ,
header .btns-group .btn-mainsite {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.32px;
  text-align: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
  width: 122px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header .nav-left .btn-mainsite:hover
, header .btns-group .btn-mainsite:hover {
  background-color: var(--lightblue);
  border-color: var(--lightblue);
  color: var(--blue);
}



header .nav-left .btn-lang {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 20.09px;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

header .nav-left .btn-lang:hover  {
  color: var(--mainColor3);
}

header .sticky .nav-left .btn-lang ,
header .btns-group .btn-lang{
  color: var(--mainColor2);
  font-size: 18px;
  font-weight: 700;
  line-height: 20.09px;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  
}

header .sticky .nav-left .btn-lang:hover ,
header .btns-group .btn-lang:hover
{
  color: var(--blue);
  
}


header #myheader {
  transition:  position 1s !important ;
  -webkit-transition:  position 1s !important ;
  -moz-transition:  position 1s !important ;
  -ms-transition:  position 1s !important ;
  -o-transition:  position 1s !important ;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header .sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white !important;
  height: 120px;
  box-shadow: -1px 0px 5px rgb(57 63 72 / 30%) !important;
  transition: display 5s 3s ease !important;
  margin-right: 0 !important;
}

header .sticky > .nav {
  padding-top: 0px !important;
}

 header nav .nav-toggle {
   display: none;
   margin-left: 30rem;
   color: var(--mainColor2);
   font-size: 30px !important;
   font-weight: bold;
 }

 @media (max-width : 992px) {
  header nav .nav-toggle {
    display: block;
  }
 }

 @media (max-width : 767px) {
  header .nav-left {
    display: none;
  }

  header .btns-group {
    display: flex !important;
  }
  header nav .nav-toggle {
    margin-left: 1rem;
  }
 }



header .offcanvas-start {
  transition: all 1s !important;
  -webkit-transition: all 1s !important;
  -moz-transition: all 1s !important;
  -ms-transition: all 1s !important;
  -o-transition: all 1s !important;
}
header .offcanvas-start .navbar-nav .nav-link {
  font-weight: 500 !important;
  font-size: 17px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.632);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

header .offcanvas-start .navbar-nav .active {
  color: var(--mainColor2);
  border: none !important;
}
header .offcanvas-start .navbar-nav .active::after {
  display: none;
}
 header .navbar-light .nav-toggle {
  color: white !important;
  font-size: 30px !important;
  font-weight: bold;
  display: block;
}


header .offcanvas {
  background-color: var(--mainColor3);
}


header .offcanvas-header .btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23B8860B'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

header .btns-group .btn-login {
  background-color: var(--mainColor2);
  border: 1px solid var(--mainColor2);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.32px;
  text-align: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
  width: 122px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

header .btns-group .btn-login:hover {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--mainColor2);
}





 header .dropdown-cunt {
  position: relative;
  display: inline-block;
 
}

header .dropdown-cunt .dropdown-menu {
  display: block;
  position: absolute;
  background-color: var(--white);
  min-width: 200px;
  border: none;
  right: -50px;
  padding: 0;
  max-height: 0 ;
  overflow: hidden;
  transition: all 0.3s ease;
  
}

 header .dropdown-cunt:hover .dropdown-menu {
  max-height: 600px; 
  transition-delay: 0.3s; 
  padding: 1.5rem 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.dropdown-menu .items {
  font-size: 14px;
  line-height: 2.5;
  color: var(--light-black) ;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.dropdown-content .items:hover {
  background-color: #1678ba14 !important;
  color: var(--main-blue) !important;
  padding-right: 1.5rem;
}


/* header end */



/* footer start */
footer {
  background-color: var(--mainColor1);
  border: 1px solid var(--mainColor1);
 border-top-left-radius: 32px;
 border-top-right-radius: 32px;
  
}

footer p {
font-size: 16px;
font-weight: 300;
line-height: 29.98px;
text-align: right;
color: var(--black);
opacity: 87%;

}

  footer .nav-link {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  text-align: right;
  padding-right: 0px;
  color: var(--navitemColor);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
footer .nav-link:hover {
  color: var(--mainColor2);
  margin-right: 5px;
}

footer h5 {
  font-size: 22px;
  font-weight: 700;
  line-height: 41.23px;
  text-align: right;
  color: var(--blue);
  
}

footer .contact-icon {
  background-color: var(--blackwithopctiy);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

footer .contact-icon i {
  color: var(--blue);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  font-size: 22px;
  
}

footer .contact-icon svg path  {
  fill: var(--blue);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 22px;
}

footer .contact-icon:hover {
  background-color: var(--mainColor3);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
footer .contact-icon:hover i {
  color: var(--mainColor2);
}
footer .contact-icon:hover svg path{
  fill: var(--mainColor2);
}


footer .lang-select {
  position: relative;
}

footer  .form-select {
  background-position: right  0.75rem center!important;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
font-size: 18px;
font-weight: 400;
line-height: 37.48px;
text-align: left;
color: var(--black);
opacity: 87%;
width: 75%;
padding-left: 3.5rem;


}



footer .form-select:focus {
  border-color: var(--mainColor2);
    outline: 0;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);

}

footer .lang-select .over-select-btn {
  position: absolute;
  z-index: 1;
  top: 37px;
  left: 20%;
}

@media (max-width : 992px) {
  footer .lang-select .over-select-btn {
    left: 30% ;
  }
}

@media ( min-width : 1200px ) {
  footer .lang-select .over-select-btn {
    left: 18% ;
  }
}

footer .country-footer a 
 {
  font-size: 17px;
  color: var(--blogprgcolor);
}
footer .country-footer h6 {
  font-size: 18px;
  color: var(--mainColor2);
}

footer h4 {
font-size: 20px;
font-weight: 700;
line-height: 37.48px;
color: var(--mainColor2);

}

footer .bottom-footer {
  background-color: var(--mainColor2);
}

footer .bottom-footer p{
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

footer .bottom-footer a {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  text-align: right;
  padding-right: 0px;
  color: var(--white);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
footer .bottom-footer a:hover {
  color: var(--mainColor3) !important;
}

footer .bottom-footer span {
  color: var(--white);
}



/* footer end */